.favourite-list {
    display: flex;
    overflow: scroll;
    gap: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
  }
  
  .favourite-list::-webkit-scrollbar {
    display: none;
  }
  
h1{
    text-align: center;
    margin-top: 10vh;
}