body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex-grow: 1;
  height: 100%;
}

.favourite-list {
    display: flex;
    overflow: scroll;
    gap: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  
  .favourite-list::-webkit-scrollbar {
    display: none;
  }
  
h1{
    text-align: center;
    margin-top: 10vh;
}

.favourites{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3em;
}


button {
  background-color: #423853;
  padding: 10px 25px;
  font-size: 1.3em;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #9a22a57a;
}