.favourite-list {
    display: flex;
    overflow: scroll;
    gap: 20px;
    width: 90%;
  }
  
  .favourite-list::-webkit-scrollbar {
    display: none;
  }
  
h1{
    text-align: center;
    margin-top: 10vh;
}

.favourites{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10vh;
}