.hero-image {
  height: 600px;
  width: 100%;
  background-image: url(../img/photo-1524008279394-3aed4643b30b.avif);
  background-size: cover;
  background-position:center;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

h1 {
  font-size: 42px;
margin-left:10%;
}
h2 {
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.707);
  margin-left:10%;
}

.character-container{
  display: flex;
  overflow: scroll;
  gap:20px;

  width: 90%;
  margin-left: auto;
  margin-right: auto;  
margin-top:10vh;
}

.character-container div {
  position: relative;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.character-container div p{
  position: absolute;
  bottom: 0;
  margin: 10px;
}

.character-container div img{
  width: 200px;
  height: 300px;
object-fit:cover;
}

.character-container div:hover{
  transform: scale(110%);
}