.back-arrow {
  left: 30px;
  height: 50px;
  position: absolute;
  top: 20px;
}



.cosmetic-card {
  background: #20263d;
  max-width: 800px;
  position: relative;
  padding: 40px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/* Top section of card where back button is */
.top-cosmetic-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-cosmetic-card img {
  height: 30px;
  vertical-align: middle;
}

.chevron-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.chevron-text-container:hover {
  text-decoration: underline;
}

.chevron-text-container {
  cursor: pointer;
}


/* Main part of the card */
.bottom-cosmetic-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cosmetic-image img {
  height: 100%;
}

h2 {
  color: white;
  font-size: 3rem;
}

.cosmetic-rarity {
  color: white;
  font-size: 0.9rem;
  padding: 10px 0;
}

.cosmetic-description {
  gap: 10px;
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
}

.btn {
  margin-top: 40px;
  color: black;
  padding: 5px 10px;
}

.btn:hover {
  background: white;
  color: black;
  cursor: pointer;
}

